@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Navigation Bar */

.navbar{
    background-color: lightslategray;
    height: 60px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo{
    color: bisque;
    font-size: 24px;
    font-weight: 900;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.navbar ul li a{
    color: bisque;
    font-size: 18px;
    text-decoration: none;
}

/* Hero Section */

.header{
    background-color: #1f2937 ;
    height: 400px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 24px;
    height: 100%;
}

.header .main-text{
    width: 50%;
}

.header .main-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    text-align: start;
    word-wrap: 0;
}

.header .main-text p{
    font-size: 18px;
    color: #e5e7e8;
    margin-bottom: 8px;
    text-align: justify;
}

.header .main-text button{
    color: #e5e7e8;
    background-color: #3882f6;
    border: none;
    padding: 5px 12px ;
    border-radius: 5px;
}

img{
    width: 50%;
    height: 60%;
    object-fit: contain;
}

/* Information Section */


.box-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.image{
    /* border: 2px solid #3882f6; */
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.Information{
    height: 350px;
    padding: 24px;
}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 8px;
}

.info .text{
    text-align: center;
    color: #1f2937;
}

.image img{
    width: 100%;
    height: 100%;
}

/* Quote */
.quote{
    background-color: #e5e7eb;
    padding: 60px;

}
.quote .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 36px;
}

.paragraph{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    opacity: 0.8;
}

.name{
    align-self: flex-end;
    font-style: italic;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}

/* Call */

.call{
    padding: 96px;
    margin: 0 100px;
}
.call .container{
    
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    padding: 32px;
}

.call .text{
    color: #f9faf8;
}

h3{
    text-align: left;
}
.call button{
    color: #e5e7e8;
    background-color: #3882f6;
    border: none;
    padding: 5px 24px ;
    border-radius: 5px;
    border: 2px solid #e5e7e8;
}
/* Footer */
.footer{
    color: #e5e7e8;
    background-color: #1f2937;
    padding: 32px;
}

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}